.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 1rem;
    z-index: -1;
    height: 100%;
}

.container {
    z-index: 1;
}
/* Custom scrollbar styles */
.container::-webkit-scrollbar {
    width: 8px;
}

.container::-webkit-scrollbar-track {
    background: transparent;
}

.container::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

.container::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

.image {
    width: 200px;
    margin: auto;
    filter: grayscale(1) invert(1) brightness(1) opacity(0.2);
}

